@font-face {
  font-family: HindSiliguriLight;
  src: url("../fonts/HindSiliguri-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: HindSiliguriRegular;
  src: url("../fonts/HindSiliguri-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: HindSiliguriMedium;
  src: url("../fonts/HindSiliguri-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: HindSiliguriSemiBold;
  src: url("../fonts/HindSiliguri-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: HindSiliguriBold;
  src: url("../fonts/HindSiliguri-SemiBold.ttf");
  font-weight: 700;
}



