//Font Sizes
$smallFontSize: 15px;
$mediumFontSize: 17px;
$largeFontSize: 20px;
$secondaryHeadlineFontSize: 24px;
$primaryHeadlineFontSize: 28px;

//Line Heights
$mediumLineHeight: 25px;
$defaultLineHeight: 26px;
$largeLineHeight: 28px;
$primaryHeadlineLineHeight: 39px;

//Font-families
$HindLight: HindSiliguriLight, sans-serif;
$HindRegular: HindSiliguriRegular, sans-serif;
$HindMedium: HindSiliguriMedium, sans-serif;
$HindSemiBold: HindSiliguriSemiBold, sans-serif;
$HindBold: HindSiliguriBold, sans-serif;
